body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: #00FFFF;
}

.container {
    margin-top: 20px;
    max-width: 600px; /* Максимальная ширина контейнера */
    //margin: auto; /* Центрирование */
    //padding: 20px; /* Внутренние отступы */
    //background-color: #ffffff; /* Белый фон для формы */
    //border-radius: 8px; /* Закругленные углы */
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Заголовки */
h1 {
    color: #00FFFF; /* Цвет заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для форм */
.form__reg {
    margin-bottom: 15px; /* Отступ между полями */
}

.form {
    width: 100%; /* Полная ширина поля ввода */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
}

.form:focus {
    border-color: #007bff; /* Цвет границы при фокусе */
    outline: none; /* Убрать контур */
}

/* Стили для кнопок */
.btn_red {
    background-color: #dc3545; /* Цвет кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убрать границу */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.btn_red:hover {
    background-color: #c82333; /* Цвет кнопки при наведении */
}

/* Сообщения об ошибках */
.error-message {
    color: #dc3545; /* Красный цвет для ошибок */
    margin-top: 10px; /* Отступ сверху */
}

/*
было у меня

.col-3.nav_logo {
    background: url(../image/logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

.photo {
    background: url(../image/photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.title_photo {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    
.nav_bar {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.button_js {
    text-align: center;
}

#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #fff;
    font-weight: bold;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}

*/




