body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: #00FFFF;
}

.nav_bar {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.container {
    margin-top: 20px;
    max-width: 600px;
}

.row {
}

.col-8 {
}

.col-4 {
}

.col-3.nav_logo {
}

.col-9 {
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}

.img_size {
}

.title_photo {
    display: flex;
    align-items: center;
    justify-content: center;
}



.my_photo {
    background: url(../image/photo.jpg) no-repeat center center;
    background-size:100%;
    width: 500px;
    height: 300px;
}

.nav_logo {
    background: url(../image/logo.jpg) no-repeat center center;
    background-size:100%;
    width: 70px;
    height: 90px;
}

.button_js{
    text-align: center;
}

#myButton{
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: crimsone;
    color: aliceblue;
    font-weight: bold;
}

.btm_red{
    margin-top: 15px;
    margin-bottom: 50px;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: crimsone;
    color: aliceblue;
    font-weight: bold;
}

.col-12 form {
    display: flex;
    flex-direction: column;
}

.col-12 form button {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-right:auto;
    margin-left:auto;
}



/*
было у меня

body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: #00FFFF;
}

.container {
    margin-top: 20px;
    max-width: 600px;
}

.col-3.nav_logo {
    background: url(../image/logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

.photo {
    background: url(../image/photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.title_photo {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    
.nav_bar {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.button_js {
    text-align: center;
}

#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #fff;
    font-weight: bold;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}

*/




